@import "~sass-rem";
@import "./message.css";
@import "./loading.css";
$rem-baseline: 46.68px;
@font-face {
    font-family: lixukexingshu;
    src: url(/draw/static/font/lixukexingshu.woff);
}

html {
    font-size: 23.34px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}

@keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    animation-name: bounceInUp;
}

@keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: none;
    }
}

.bounceInDown {
    animation-name: bounceInDown;
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.flash {
    animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
    from {
        transform: none;
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        transform: none;
    }
}

.wobble {
    animation-name: wobble;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

@keyframes fadedispaly {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadedispaly {
    animation-name: fadedispaly;
}

@keyframes fadeInRL {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: calc(100% - 1.6rem);
    }
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadedispaly {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadedispaly {
    animation-name: fadedispaly;
}

@keyframes fadeInDownDraw {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        transform: none;
    }
}

.fadeInDownDraw {
    animation-name: fadeInDownDraw;
}

@keyframes fadeUpDown {
    from {
        transform: translateY(30%);
    }
    to {
        transform: translateY(-30%);
    }
}

.fadeUpDown {
    animation-name: fadeUpDown;
}

@keyframes fadeRotateZ {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.fadeRotateZ {
    animation-name: fadeRotateZ;
}

@keyframes fadeInRotate {
    from {
        transform: none;
    }
    15% {
        transform: rotateY(90deg);
    }
    30% {
        transform: rotateY(180deg);
    }
    45% {
        transform: rotateY(240deg);
    }
    60% {
        transform: rotateY(300deg);
    }
    75% {
        transform: rotateY(360deg);
    }
    to {
        transform: none;
    }
}

.fadeInRotate {
    animation-name: fadeInRotate;
}

@keyframes fadeDownRotate {
    from {
        transform: none;
    }
    15% {
        transform: translateY(-100%) rotateY(0deg);
    }
    30% {
        transform: translateY(-50%) rotateY(0deg);
    }
    45% {
        transform: translateY(0%) rotateY(0deg);
        opacity: 1
    }
    60% {
        transform: translateY(0%) rotateY(180deg);
    }
    75% {
        transform: translateY(0%) rotateY(360deg);
    }
    to {
        transform: none;
    }
}

.fadeDownRotate {
    animation-name: fadeDownRotate;
}

@keyframes fadeZoomRotate {
    from {
        transform: scale(0) rotateZ(360deg);
    }
    to {
        transform: none;
    }
}

.fadeZoomRotate {
    animation-name: fadeZoomRotate;
}

@keyframes fadeUpDraw {
    from {
        transform: none;
    }
    50% {
        transform: translateY(-100%) rotateY(0deg);
    }
    to {
        transform: translateY(-100%) rotateY(360deg);
    }
}

.fadeUpDraw {
    animation-name: fadeUpDraw;
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.zoomInUp {
    animation-name: zoomInUp;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation-name: slideInRight;
}

@for $i from 1 through 10 {
    .delay-#{$i*500} {
        animation-delay: #{$i*500}ms;
    }
}

@for $i from 1 through 10 {
    .duration-#{$i*500} {
        animation-duration: #{$i*500}ms;
    }
}

.count-infinite {
    animation-iteration-count: infinite;
}

.timing-linear {
    animation-timing-function: linear;
}
